@import 'tailwindcss';
@plugin "flyonui";
@import "../../node_modules/flyonui/variants.css";

@source "../../node_modules/flyonui/flyonui.js";

@plugin "@iconify/tailwind4";

@plugin "@tailwindcss/typography";


@plugin "flyonui/theme" {
    name: "light";
    default: true;
    --color-primary: #498536;
}

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}

[data-theme='dark'] li:not(.menu-title, .menu-disabled)> :not(ul, .menu-title, .collapse, .accordion-content, .btn).menu-active {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
}

body {
    color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
}